html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
header{ height:50px; background:#fff; }
footer{ background:PapayaWhip; }

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}
header h1{
    color: #333;
}
.hide{
    display: none;
}
.formContainer{
    border:1px solid rgba(0,0,0,.6);
    padding: 30px;
}
ul li{
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.bg{
  display: inline-block;
background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:#fff;
padding: 10px 70px;
border:none;
}
.bg1{
display: inline-block;
background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #fff;
padding: 10px 20px;
border:none;
}
.label{
  font-weight: 600;
}
